@model List<MvcCv.Models.TblSkills>

<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Yeteneklerim</h2>
        <div class="subheading mb-3">Becerilerim</div>
        <ul class="fa-ul mb-0">
            @foreach (var item in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-check text-success"></i></span>
                    <i class="text-black">@item.Skill</i>
                </li>
            }
        </ul>
    </div>
</section>
<hr class="m-0" />